<!--BEGIN CODE REVIEW-->
{% extends "base.html" %}
{% block title %}Queries{% endblock %}
{% block body %}


    <h1>Student Success Rate by Application Year Range</h1>
    <form action="/query_acceptance_by_year" method="post">
        <label for="start_year">Start Year:</label>
        <input type="text" id="start_year" name="start_year"><br><br>
        <label for="end_year">End Year:</label>
        <input type="text" id="end_year" name="end_year"><br><br>
        <input type="submit" value="Submit">
        <button type="button" onclick="window.location.href='/queries';" class="btn">Back</button>
    </form>
    {% if acceptance_rate_by_year != 'N/A' %}
    <p>Student Success Rate in the specified year({{ start_year }} - {{ end_year }}) range: {{ successful_year_students }} accepted / {{ total_year_students }} total = {{ acceptance_rate_by_year }}%</p>
{% else %}
    <p>{{ message }}</p>
{% endif %}
    <hr width="100%" size="5">
    <h1 id="school-name-form">Student Success Rate by School Name (last 10 years)</h1>
    <form action="/query_acceptance_by_school_name#school-name-form" method="post">
    <label for="school_name">School name:</label>
    <select id="school_name" name="school_name">
        {% for name in school_names %}
            <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" value="Submit">
        <button type="button" onclick="window.location.href='/queries';" class="btn">Back</button>
    </form>
    {% if acceptance_rate_by_school_name != 'N/A' %}
    <p>Student Success Rate for the specified school name ({{ school_name }}): {{ successful_name_students }} accepted / {{ total_name_students }} total = {{ acceptance_rate_by_school_name }}%</p>
{% else %}
    <p>{{ message }}</p>
{% endif %}
    <hr width="100%" size="5">
    <h1>Success Rate by Program (last 10 years)</h1>
    <form action="/query_acceptance_by_program" method="post">
    <label for="program">Program:</label>
    <select id="program" name="program">
        {% for type in application_types %}
            <option value="{{ type }}">{{ type }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" value="Submit">
        <button type="button" onclick="window.location.href='/queries';" class="btn">Back</button>
    </form>
    {% if acceptance_rate_by_program != 'N/A' %}
    <p>Student Success Rate for specified program({{ program }}): {{ successful_program_students }} accepted / {{ total_program_students }} total = {{ acceptance_rate_by_program }}%</p>
{% else %}
    <p>{{ message }}</p>
{% endif %}
    <hr width="100%" size="5">
<h1>Success Rate for Reapplicants (last 10 years)</h1>
<form action="/query_success_rate_reapplicants" method="post">
    <label for="program">Select Program:</label>
    <select id="program_re" name="program">
        {% for program in application_types %}
        <option value="{{ program }}">{{ program }}</option>
        {% endfor %}
    </select>
    <br><br>
    <input type="submit" value="Submit">
    <button type="button" onclick="window.location.href='/queries';" class="btn">Back</button>
</form>
    {% if success_rate_reapplicants != 'N/A' %}
    <p>Reacceptance Rate for the specified Program ({{ program_re }}): {{ success_rate_reapplicants }}%</p>
{% else %}
    <p>{{ message }}</p>
{% endif %}

{% endblock %}

