{% extends "base.html" %}
{% block title %}Update application{% endblock %}
{% block body %}
    <h1>Update application</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <p>Student: {{application.name}}</p>
    <form method="post" action="/updateapplication/{{ application.id }}">

        <!-- Fields for School Information -->
        <label for="school_name">School Name:</label>
        <input type="text" name="school_name" value="{{ application.schoolname}}" required><br>
        <label for="school_type">School Type (Healthcare or PostGrad):</label>
        <input type="text" name="school_type" value="{{ application.schooltype}}" required><br>

       <!-- Fields for Application Information -->
        <label for="yearapplied">Year Applied:</label>
        <input type="number" name="yearapplied" value="{{application.yearapp}}" required><br>
        <label for="program">Program:</label>
        <input type="text" name="app_program" value="{{application.program}}" required><br>
        <label for="accepted">Accepted?</label>
        <input type="checkbox" name="accepted" value="{{application.accepted}}"><br>


        <button type="submit">Update Student</button>
    </form>
{% endblock %}