{% extends "base.html" %}
{% block title %}Create Application{% endblock %}
{% block body %}
    <h1>Create Application</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post" action="/createstudent">
        <p>Student information:</p>
        <label for="name">Name(required):</label>
        <input type="text" name="name" required><br>
        <label for="email">Email:</label>
        <input type="email" name="email" ><br>
        <label for="phone">Phone:</label>
        <input type="text" name="phone" ><br>
        <label for="degree">Degree:</label>
        <input type="text" name="degree"><br>
        <label for="graduation_year">Graduation Year:</label>
        <input type="number" name="graduation_year"><br><br>
        <p>Application info:</p>
        <!-- Fields for School Information -->
        <label for="school_name">School Name:</label>
        <input type="text" name="school_name" required><br>
        <label for="school_type">School Type (Healthcare or postgrad):</label>
        <input type="text" name="school_type" required><br>


        <!-- Fields for Application Information -->
        <label for="yearapplied">Year Applied:</label>
        <input type="number" name="yearapplied" required><br>
        <label for="program">Program name:</label>
        <input type="text" name="program" required><br>
        <label for="accepted">Accepted?</label>
        <input type="checkbox" name="accepted"><br>

        <button type="submit">Create Application</button>
    </form>
{% endblock %}



