<!--https://www.w3.org/WAI/ARIA/apg/patterns/table/examples/sortable-table/ BORROWED SORTABLE TABLE-->
<!-- https://www.geeksforgeeks.org/how-to-export-html-table-to-csv-using-javascript/ EXPORT TABLE TO CSV-->

{% extends "base.html" %}
{% block title %}View All Users{% endblock %}
{% block body %}

    <p>Total Student Success Rate: {{ successful_students }} Successful / {{ total_students }} Total = {{ total_success_rate }}% for Biology students</p>

    <p>Total Postgrad Student Success Rate: {{ postgrad_accepted }} Accepted / {{ postgrad_applications }} Total = {{ postgrad_success_rate }}% for Postgrad students</p>

    <p>Total Healthcare Student Success Rate: {{ healthcare_accepted }} Accepted /  {{ healthcare_applications }} Total = {{ healthcare_success_rate }}% for Healthcare Students</p>

    <p>Total Healthcare Medical Professional Student Success Rate:  {{ healthcare_med_prof_accepted}} Accepted /  {{ healthcare_med_prof_applications }} Total = {{ healthcare_med_prof_success_rate }}% for Medical Professional Healthcare Students</p>

<div class="tabs">
    <a href="/view_db?tab=All" class="tablink {% if active_tab == 'All' %}active{% endif %}">All Applications</a><br>
    <a href="/view_db?tab=Healthcare" class="tablink {% if active_tab == 'Healthcare' %}active{% endif %}">Healthcare (Last 10 Years)</a><br>
    <a href="/view_db?tab=Postgrad" class="tablink {% if active_tab == 'Postgrad' %}active{% endif %}">Postgrad (Last 10 Years)</a>
</div>
<button onclick="tableToCSV()">Export to CSV</button>

<div id="ApplicationsTable" class="tabcontent" style="display: block;">
    <div class="table-wrap">
        <table class="sortable">
            <thead>
                <tr>
                    <th>
                        <button>Year Applied <span aria-hidden="true"></span></button>
                    </th>
                    <th>
                        <button>Student Name <span aria-hidden="true"></span></button>
                    </th>
                    <th>
                        <button>School Type <span aria-hidden="true"></span></button>
                    </th>
                    <th>
                        <button>School Name <span aria-hidden="true"></span></button>
                    </th>
                    <th>
                        <button>Program/Degree Path <span aria-hidden="true"></span></button>
                    </th>
                    <th>
                        <button>Accepted? <span aria-hidden="true"></span></button>
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                <tr>
                    <td>{{ application[0] }}</td>
                    <td>{{ application[1] }}</td>
                    <td>{{ application[2] }}</td>
                    <td>{{ application[3] }}</td>
                    <td>{{ application[4] }}</td>
                    <td>{% if application[5] == 1 %}Yes{% elif application[5] == 0 %}No{% else %}NULL{% endif %}</td>
                    <td>
                        <a href="{{ url_for('updateapplication', app_id=application[7]) }}" class="btn">Update</a>
                        <a href="{{ url_for('student_profile', stu_id=application[6]) }}" class="btn">Profile</a>
                        <button onclick="deleteApplication({{ application[7] }})" class="btn">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function deleteApplication(appId) {
        if (confirm("Are you sure you want to delete this application and all associated data?")) {
            window.location.href = `/deleteapplication/${appId}`;
        }
    }
</script>
<script src="static/sortable-table.js"></script>
   <script type="text/javascript">
        function tableToCSV() {

            // Variable to store the final csv data
            let csv_data = [];

            // Get each row data
            let rows = document.getElementsByTagName('tr');
            for (let i = 0; i < rows.length; i++) {

                // Get each column data
                let cols = rows[i].querySelectorAll('td');

                // Stores each csv row data
                let csvrow = [];
                for (let j = 0; j < cols.length-1; j++) {

                    // Get the text data of each cell
                    // of a row and push it to csvrow
                    csvrow.push(cols[j].innerHTML);
                }

                // Combine each column value with comma
                csv_data.push(csvrow.join(","));
            }

            // Combine each row data with new line character
            csv_data = csv_data.join('\n');

            // Call this function to download csv file
            downloadCSVFile(csv_data);

        }

        function downloadCSVFile(csv_data) {

            // Create CSV file object and feed
            // our csv_data into it
            CSVFile = new Blob([csv_data], {
                type: "text/csv"
            });

            // Create to temporary link to initiate
            // download process
            let temp_link = document.createElement('a');

            // Download csv file
            temp_link.download = "TableData.csv";
            let url = window.URL.createObjectURL(CSVFile);
            temp_link.href = url;

            // This link should not be displayed
            temp_link.style.display = "none";
            document.body.appendChild(temp_link);

            // Automatically click the link to
            // trigger download
            temp_link.click();
            document.body.removeChild(temp_link);
        }
</script>
{% endblock %}